<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lj.mapper.survey.QuestionInfoMapper">

  <select id="findAll" resultType="QuestionInfo">
    select * from QuestionInfo
  </select>
  
  <select id="findAllByRequestObj" parameterType="QuestionInfo" resultType="QuestionInfo">
    select QuestionInfo.*
    from QuestionInfo
    where 1=1
    <if test="questionTitle!=null and questionTitle!='' ">
      and  QuestionInfo.questionTitle like  '%${questionTitle}%'
    </if>
    <if test="questionType!=null and questionType!='' ">
      and  QuestionInfo.questionType like  '%${questionType}%'
    </if>
  </select>
 
  <select id="findAllPaged" parameterType="QuestionInfo" resultType="QuestionInfo">
    select QuestionInfo.*,UserInfo.userName as opUserName
    from QuestionInfo
    left join UserInfo on UserInfo.userId=QuestionInfo.opUserId
    where 1=1
    <if test="questionTitle!=null and questionTitle!='' ">
      and  QuestionInfo.questionTitle like  '%${questionTitle}%'
    </if>
    <if test="questionType!=null and questionType!='' ">
      and  QuestionInfo.questionType like  '%${questionType}%'
    </if>
    order by ${sortField} ${sortType}
  </select>
  
  <select id="findById" parameterType="Long" resultType="QuestionInfo">
    select * from QuestionInfo where  questionId=#{id}
  </select>
  
  <select id="findAllByField" parameterType="Map" resultType="QuestionInfo">
    select * from QuestionInfo where ${fieldName}=#{fieldValue}
  </select>

  <select id="getNowTime" resultType="java.util.Date">
    select now()
  </select>

  <insert id="insert" parameterType="QuestionInfo" flushCache="true" useGeneratedKeys="true" keyProperty="questionId" >
      insert into QuestionInfo( questionTitle, questionType, opTime, opUserId)
      values(#{questionTitle,jdbcType=VARCHAR},#{questionType,jdbcType=VARCHAR},#{opTime,jdbcType=TIMESTAMP},#{opUserId,jdbcType=NUMERIC})
  </insert>
  
   <update id="update" parameterType="QuestionInfo" >
     update QuestionInfo 
     set  questionTitle=#{questionTitle,jdbcType=VARCHAR},  questionType=#{questionType,jdbcType=VARCHAR},  opTime=#{opTime,jdbcType=TIMESTAMP},  opUserId=#{opUserId,jdbcType=NUMERIC} 
     where questionId=#{questionId}
  </update>
  
  <delete id="deleteById" parameterType="long">
      delete from QuestionInfo where questionId=#{id}
  </delete>

  <select id="findOneByQuestionTitle" parameterType="String" resultType="QuestionInfo">
    select QuestionInfo.*
    from QuestionInfo
    where questionTitle=#{value}
  </select>
  
  <delete id="isInUse" parameterType="long">
     select count(questionId) from QuestionInfo where questionId=#{value}
  </delete>
</mapper>