<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lj.mapper.sys.LogInfoMapper">

  <select id="findAll" resultType="LogInfo">
    select * from LogInfo
  </select>
  
  
  <select id="findAllPaged" parameterType="LogInfo" resultType="LogInfo">
    select * from LogInfo
    order by logId
  </select>
  
  <select id="find" parameterType="Long" resultType="LogInfo">
    select * from LogInfo where  logId=#{id}
  </select>
  
  <select id="findAllByField" parameterType="Map" resultType="LogInfo">
    select * from LogInfo where ${fieldName}=#{fieldValue}
  </select>
  
  <insert id="insert" parameterType="LogInfo" flushCache="true" >
	  <selectKey resultType="long" order="BEFORE" keyProperty="logId">
		SELECT seqlogId.NEXTVAL FROM DUAL
	  </selectKey>
      insert into LogInfo(logId,opName,opData,opEntity,opUserId,opTime,opTable)
      values(#{logId,jdbcType=NUMERIC},#{opName,jdbcType=VARCHAR},#{opData,jdbcType=VARCHAR},#{opEntity,jdbcType=VARCHAR},
             #{opUserId,jdbcType=NUMERIC},#{opTime,jdbcType=TIMESTAMP})
  </insert>
  
   <update id="update" parameterType="LogInfo" >
     update LogInfo 
     set logId=#{logId,jdbcType=NUMERIC},opName=#{opName,jdbcType=VARCHAR},opData=#{opData,jdbcType=VARCHAR},opEntity=#{opEntity,jdbcType=VARCHAR},
               opUserId=#{opUserId,jdbcType=NUMERIC},opTime=#{opTime,jdbcType=TIMESTAMP}
     where logId=#{logId}
  </update>
  
  <delete id="deleteById" parameterType="long">
      delete from LogInfo where logId=#{id}
  </delete>
  
</mapper>