<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lj.mapper.client.ClientFollowMapper">

  <select id="findAll" resultType="ClientFollow">
    select * from ClientFollow
  </select>
  
  <select id="findAllByRequestObj" parameterType="ClientFollow" resultType="ClientFollow">
    select ClientFollow.* 
    from ClientFollow
    where 1=1
  </select>
 
  <select id="findAllPaged" parameterType="ClientFollow" resultType="ClientFollow">
    select ClientFollow.*, ClientInfo.clientName as clientName, UserInfo.userName as opUserName
    from ClientFollow
    left join ClientInfo on ClientInfo.ClientId=ClientFollow.ClientId
    left join UserInfo on UserInfo.UserId=ClientFollow.opUserId
    where 1=1
    <if test=" clientId!=null and clientId>0 ">
      and ClientFollow.clientId=#{clientId}
    </if>
    <if test=" clientName!=null and clientName!='' ">
      and ClientInfo.clientName   like '%${clientName}%'
    </if>
    <if test=" followType!=null and followType!='' ">
      and ClientFollow.followType   like '%${followType}%'
    </if>
    <if test=" contractOperator!=null and contractOperator!='' ">
      and ClientFollow.contractOperator   like '%${contractOperator}%'
    </if>
    <if test=" followSalesPerson!=null and followSalesPerson!='' ">
      and ClientFollow.followSalesPerson   like '%${followSalesPerson}%'
    </if>
    <if test=" serviceItem!=null and serviceItem!='' ">
      and ClientFollow.serviceItem   like '%${serviceItem}%'
    </if>
    <if test=" followTimeSpan!=null and followTimeSpan!='' ">
      and ClientFollow.followTimeSpan   like '%${followTimeSpan}%'
    </if>
    <if test=" followContent!=null and followContent!='' ">
      and ClientFollow.followContent   like '%${followContent}%'
    </if>
    <if test=" followTimeBegin!=null">
      and ClientFollow.followTime>#{followTimeBegin}
    </if>
    <if test=" followTimeEnd!=null">
      and #{followTimeEnd}>ClientFollow.followTime
    </if>
    order by ${sortField} ${sortType}
  </select>
  
  <select id="findById" parameterType="Long" resultType="ClientFollow">
    select * from ClientFollow where  clientFollowId=#{id}
  </select>
  
  <select id="findAllByField" parameterType="Map" resultType="ClientFollow">
    select * from ClientFollow where ${fieldName}=#{fieldValue}
  </select>

  <select id="getNowTime" resultType="java.util.Date">
    select now()
  </select>

  <insert id="insert" parameterType="ClientFollow" flushCache="true" useGeneratedKeys="true" keyProperty="clientFollowId" >
      insert into ClientFollow( clientId, followType, followTime, followTimeSpan, followSales, followSalesPerson, followContent, contractOperator, fileName, opTime, opUserId, serviceItem)
      values(
          #{clientId,jdbcType=NUMERIC},
          #{followType,jdbcType=VARCHAR},
          #{followTime,jdbcType=TIMESTAMP},
          #{followTimeSpan,jdbcType=NUMERIC},
          #{followSales,jdbcType=VARCHAR},
          #{followSalesPerson,jdbcType=VARCHAR},
          #{followContent,jdbcType=VARCHAR},
          #{contractOperator,jdbcType=VARCHAR},
          #{fileName,jdbcType=VARCHAR},
          #{opTime,jdbcType=TIMESTAMP},
          #{opUserId,jdbcType=NUMERIC},
          #{serviceItem,jdbcType=VARCHAR})
  </insert>
  
   <update id="update" parameterType="ClientFollow" >
     update ClientFollow 
     set  clientId=#{clientId,jdbcType=NUMERIC},  followType=#{followType,jdbcType=VARCHAR},  followTime=#{followTime,jdbcType=TIMESTAMP},  followTimeSpan=#{followTimeSpan,jdbcType=NUMERIC},  followSales=#{followSales,jdbcType=VARCHAR},  followSalesPerson=#{followSalesPerson,jdbcType=VARCHAR},  followContent=#{followContent,jdbcType=VARCHAR},  contractOperator=#{contractOperator,jdbcType=VARCHAR},fileName=#{fileName,jdbcType=VARCHAR},  opTime=#{opTime,jdbcType=TIMESTAMP},  opUserId=#{opUserId,jdbcType=NUMERIC}, serviceItem=#{serviceItem,jdbcType=VARCHAR}
     where clientFollowId=#{clientFollowId}
  </update>

  <select id="getClientLevelByClientId" parameterType="java.lang.Long" resultType="java.lang.String">
    SELECT clientLevel FROM clientInfo WHERE clientId = #{clientId}
  </select>


  <delete id="deleteById" parameterType="long">
      delete from ClientFollow where clientFollowId=#{id}
  </delete>
  
</mapper>