<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lj.mapper.client.ClientInfoMapper">

  <select id="findAll" resultType="ClientInfo">
    select * from ClientInfo order by clientId
  </select>

  <select id="findAllByRequestObj" parameterType="ClientInfo" resultType="ClientInfo">
    select ClientInfo.*, UserInfo.userName as opUserName
    from ClientInfo
    left join UserInfo on UserInfo.UserId=ClientInfo.opUserId
    <if test=" isRightJoinClientAssign!=null and isRightJoinClientAssign==true and loginUserId!=null and loginUserId>0 ">
	   right join ClientAssign on ClientInfo.clientId=ClientAssign.clientId 
    </if>
    where 1=1
    <if test=" isRightJoinClientAssign!=null and isRightJoinClientAssign==true and loginUserId!=null and loginUserId>0 ">
	   and ClientAssign.userId= #{loginUserId}
    </if>
    <if test=" isQueryMonthNew!=null and isQueryMonthNew==true ">
	  and ClientInfo.clientId not in( select clientId from ClientFollow)
    </if>
    <if test=" isQueryMonthTransacted!=null and isQueryMonthTransacted==true ">
	  and ClientInfo.clientId in( select clientId from ClientFollow) and 
	      ClientInfo.clientId not in( select clientId from ClientFollow where followTime > subdate(now(),interval 30 day) )
    </if>
    <if test=" isQueryUnrevisit!=null and isQueryUnrevisit==true ">
	  and ClientInfo.clientId not in ( select clientId from ClientRevisit )
    </if>
    <if test="clientName!=null and clientName!='' ">
      and  ClientInfo.clientName like  '%${clientName}%'
    </if>
    <if test="clientWeixin!=null and clientWeixin!='' ">
      and  ClientInfo.clientWeixin like  '%${clientWeixin}%'
    </if>
    <if test="clientAddress!=null and clientAddress!='' ">
      and  ClientInfo.clientAddress like  '%${clientAddress}%'
    </if>
    <if test="clientPhone!=null and clientPhone!='' ">
      and  ClientInfo.clientPhone like  '%${clientPhone}%'
    </if>
    <if test="clientZipCode!=null and clientZipCode!='' ">
      and  ClientInfo.clientZipCode like  '%${clientZipCode}%'
    </if>
    <if test="clientContacts!=null and clientContacts!='' ">
      and  ClientInfo.clientContacts like  '%${clientContacts}%'
    </if>
    <if test="clientType!=null and clientType!='' ">
      and  ClientInfo.clientType like  '%${clientType}%'
    </if>
    <if test="clientEmail!=null and clientEmail!='' ">
      and  ClientInfo.clientEmail like  '%${clientEmail}%'
    </if>
    <if test="clientAccount!=null and clientAccount!='' ">
      and  ClientInfo.clientAccount like  '%${clientAccount}%'
    </if>
    <if test="clientBank!=null and clientBank!='' ">
      and  ClientInfo.clientBank like  '%${clientBank}%'
    </if>
    <if test="clientLevel!=null and clientLevel!='' ">
      and  ClientInfo.clientLevel like  '%${clientLevel}%'
    </if>
    <if test="registerTime!=null and registerTime!='' ">
      and  ClientInfo.registerTime like  '%${registerTime}%'
    </if>
    <if test="clientMemo!=null and clientMemo!='' ">
      and  ClientInfo.clientMemo like  '%${clientMemo}%'
    </if>
    <if test="clientState!=null and clientState!='' ">
      and  ClientInfo.clientState like  '%${clientState}%'
    </if>
    <if test="opTime!=null and opTime!='' ">
      and  ClientInfo.opTime like  '%${opTime}%'
    </if>
    <if test="opUserId!=null and opUserId!='' ">
      and  ClientInfo.opUserId like  '%${opUserId}%'
    </if>
    <if test=" sortField!=null and sortField!='' and sortType!=null and sortType!=''" >
      order by ${sortField} ${sortType}
    </if>
  </select>

  <select id="findAllPaged" parameterType="ClientInfo" resultType="ClientInfo">
    select ClientInfo.*, UserInfo.userName as opUserName
--          , AssignUser.userName AS assignUserName
    from ClientInfo
    left join UserInfo on UserInfo.UserId=ClientInfo.opUserId
--     left join ClientAssign on ClientAssign.clientId = ClientInfo.clientId
--     left join UserInfo as AssignUser on AssignUser.UserId = ClientAssign.userId
    <if test=" isRightJoinClientAssign!=null and isRightJoinClientAssign==true and loginUserId!=null and loginUserId>0 ">
	   right join ClientAssign on ClientInfo.clientId=ClientAssign.clientId
    </if>
    where 1=1
    <if test=" isRightJoinClientAssign!=null and isRightJoinClientAssign==true and loginUserId!=null and loginUserId>0 ">
	   and ClientAssign.userId= #{loginUserId}
    </if>
    <if test=" isQueryMonthNew!=null and isQueryMonthNew==true ">
	  and month(clientinfo.registerTime) = month(CURRENT_DATE) and
          year(clientinfo.registerTime) = year(CURRENT_DATE)
    </if>
    <if test=" isQueryMonthTransacted!=null and isQueryMonthTransacted==true ">
	  and clientinfo.clientLevel like '%成交%'
      and month(clientinfo.registerTime) = month(CURRENT_DATE) and
          year(clientinfo.registerTime) = year(CURRENT_DATE)
    </if>
    <if test=" isQueryUnrevisit!=null and isQueryUnrevisit==true ">
        and clientinfo.clientLevel NOT like '%成交%'
        and month(clientinfo.registerTime) = month(CURRENT_DATE) and
        year(clientinfo.registerTime) = year(CURRENT_DATE)
    </if>
    <if test="clientName!=null and clientName!='' ">
      and  ClientInfo.clientName like  '%${clientName}%'
    </if>
    <if test="clientWeixin!=null and clientWeixin!='' ">
      and  ClientInfo.clientWeixin like  '%${clientWeixin}%'
    </if>
    <if test="clientAddress!=null and clientAddress!='' ">
      and  ClientInfo.clientAddress like  '%${clientAddress}%'
    </if>
    <if test="clientPhone!=null and clientPhone!='' ">
      and  ClientInfo.clientPhone like  '%${clientPhone}%'
    </if>
    <if test="clientZipCode!=null and clientZipCode!='' ">
      and  ClientInfo.clientZipCode like  '%${clientZipCode}%'
    </if>
    <if test="clientContacts!=null and clientContacts!='' ">
      and  ClientInfo.clientContacts like  '%${clientContacts}%'
    </if>
    <if test="clientType!=null and clientType!='' ">
      and  ClientInfo.clientType like  '%${clientType}%'
    </if>
    <if test="clientEmail!=null and clientEmail!='' ">
      and  ClientInfo.clientEmail like  '%${clientEmail}%'
    </if>
    <if test="clientAccount!=null and clientAccount!='' ">
      and  ClientInfo.clientAccount like  '%${clientAccount}%'
    </if>
    <if test="clientBank!=null and clientBank!='' ">
      and  ClientInfo.clientBank like  '%${clientBank}%'
    </if>
    <if test="clientLevel!=null and clientLevel!='' ">
      and  ClientInfo.clientLevel like  '%${clientLevel}%'
    </if>
    <if test="registerTime!=null and registerTime!='' ">
      and  ClientInfo.registerTime like  '%${registerTime}%'
    </if>
    <if test="clientMemo!=null and clientMemo!='' ">
      and  ClientInfo.clientMemo like  '%${clientMemo}%'
    </if>
    <if test="sourceMemo!=null and sourceMemo!='' ">
      and  ClientInfo.sourceMemo like '%${sourceMemo}%'
    </if>
    <if test="clientState!=null and clientState!='' ">
      and  ClientInfo.clientState like  '%${clientState}%'
    </if>
    <if test=" registerTimeBegin!=null">
      and ClientInfo.registerTime>#{registerTimeBegin}
    </if>
    <if test=" registerTimeEnd!=null">
      and #{registerTimeEnd}>ClientInfo.registerTime
    </if>
    <if test="assignUserName!=null and assignUserName!='' ">
      and  AssignUser.userName like  '%${assignUserName}%'
    </if>
    <if test="opUserId!=null and opUserId!='' ">
      and  ClientInfo.opUserId like  '%${opUserId}%'
    </if>
    order by ${sortField} ${sortType}
  </select>

  <select id="findById" parameterType="Long" resultType="ClientInfo">
    select * from ClientInfo where  clientId=#{id}
  </select>

  <select id="findAllByField" parameterType="Map" resultType="ClientInfo">
    select * from ClientInfo where ${fieldName}=#{fieldValue}
  </select>

  <select id="findAllByClientPhone" parameterType="string" resultType="ClientInfo">
      select * from ClientInfo where clientPhone = #{clientPhone}
  </select>

  <select id="findAllByClientWeixin" parameterType="string" resultType="clientInfo">
        select * from ClientInfo where clientWeixin = #{clientWeixin}
  </select>

<!--  <select id="findAllPagedClientInfo" resultType="ClientInfo">-->

<!--  </select>-->

  <insert id="insert" parameterType="ClientInfo" flushCache="true" useGeneratedKeys="true" keyProperty="clientId" >
      insert into ClientInfo( clientName, clientWeixin, clientAddress, clientPhone, clientZipCode, clientContacts, clientType,
                             clientEmail, clientAccount, clientBank, clientLevel, registerTime, clientMemo, clientState,
                             sourceTable,sourceId,sourceMemo,opTime, opUserId,
                             legalRepresentative, legalMoney, legalTime, insuredNumber, businessScope,equityConstituent, parttimeMemo, biddingMemo, lawMemo, ceo, ceoPhone)
      values(#{clientName,jdbcType=VARCHAR},
             #{clientWeixin,jdbcType=VARCHAR},
             #{clientAddress,jdbcType=VARCHAR},
             #{clientPhone,jdbcType=VARCHAR},
             #{clientZipCode,jdbcType=VARCHAR},
             #{clientContacts,jdbcType=VARCHAR},
             #{clientType,jdbcType=VARCHAR},
             #{clientEmail,jdbcType=VARCHAR},
             #{clientAccount,jdbcType=VARCHAR},
             #{clientBank,jdbcType=VARCHAR},
             #{clientLevel,jdbcType=NUMERIC},
             #{registerTime,jdbcType=TIMESTAMP},
             #{clientMemo,jdbcType=VARCHAR},
             #{clientState,jdbcType=VARCHAR},
             #{sourceTable,jdbcType=VARCHAR},
             #{sourceId,jdbcType=BIGINT},
             #{sourceMemo,jdbcType=VARCHAR},
             #{opTime,jdbcType=TIMESTAMP},
             #{opUserId,jdbcType=NUMERIC},
             #{legalRepresentative,jdbcType=VARCHAR},
             #{legalMoney,jdbcType=VARCHAR},
             #{legalTime,jdbcType=TIMESTAMP},
             #{insuredNumber,jdbcType=INTEGER},
             #{businessScope,jdbcType=VARCHAR},
             #{equityConstituent,jdbcType=VARCHAR},
             #{parttimeMemo,jdbcType=VARCHAR},
             #{biddingMemo,jdbcType=VARCHAR},
             #{lawMemo,jdbcType=VARCHAR},
             #{ceo,jdbcType=VARCHAR},
             #{ceoPhone,jdbcType=VARCHAR})
  </insert>

  <select id="getNowTime" resultType="java.util.Date">
    select now()
  </select>

  <update id="update" parameterType="ClientInfo" >
     update ClientInfo
     set  clientName=#{clientName,jdbcType=VARCHAR},
          clientWeixin=#{clientWeixin,jdbcType=VARCHAR},
          clientAddress=#{clientAddress,jdbcType=VARCHAR},
          clientPhone=#{clientPhone,jdbcType=VARCHAR},
          clientZipCode=#{clientZipCode,jdbcType=VARCHAR},
          clientContacts=#{clientContacts,jdbcType=VARCHAR},
          clientType=#{clientType,jdbcType=VARCHAR},
          clientEmail=#{clientEmail,jdbcType=VARCHAR},
          clientAccount=#{clientAccount,jdbcType=VARCHAR},
          clientBank=#{clientBank,jdbcType=VARCHAR},
          clientLevel=#{clientLevel,jdbcType=NUMERIC},
          registerTime=#{registerTime,jdbcType=TIMESTAMP},
          clientMemo=#{clientMemo,jdbcType=VARCHAR},
          clientState=#{clientState,jdbcType=VARCHAR},
          sourceTable=#{sourceTable,jdbcType=VARCHAR},
          sourceId=#{sourceId,jdbcType=BIGINT},
          sourceMemo=#{sourceMemo,jdbcType=VARCHAR},
          opTime=#{opTime,jdbcType=TIMESTAMP},
          opUserId=#{opUserId,jdbcType=NUMERIC},
          legalRepresentative=#{legalRepresentative,jdbcType=VARCHAR},
          legalMoney=#{legalMoney,jdbcType=VARCHAR},
          legalTime=#{legalTime,jdbcType=TIMESTAMP},
          insuredNumber=#{insuredNumber,jdbcType=INTEGER},
          businessScope=#{businessScope,jdbcType=VARCHAR},
          equityConstituent=#{equityConstituent,jdbcType=VARCHAR},
          parttimeMemo=#{parttimeMemo,jdbcType=VARCHAR},
          biddingMemo=#{biddingMemo,jdbcType=VARCHAR},
          lawMemo=#{lawMemo,jdbcType=VARCHAR},
          ceo=#{ceo,jdbcType=VARCHAR},
          ceoPhone=#{ceoPhone,jdbcType=VARCHAR}
     where clientId=#{clientId,jdbcType=NUMERIC}
  </update>

  <delete id="deleteById" parameterType="long">
      delete from clientAssign where clientId=#{id};
      delete from clientInfo where clientId=#{id};
  </delete>

</mapper>