<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lj.mapper.user.RolePrivMapper">
	<select id="findAllByRoleId" parameterType="Long"
		resultType="RolePriv">
		select RolePriv.*,RoleInfo.roleName
		from RolePriv
		left join RoleInfo on RoleInfo.roleId=RolePriv.roleId
		where RolePriv.roleId=#{roleId}
	</select>
	
	
	<select id="findAllByModuleId" parameterType="Long"
		resultType="RolePriv">
		select RolePriv.*,RoleInfo.roleName
		from RolePriv
		left join RoleInfo on RoleInfo.roleId=RolePriv.roleId
		where RolePriv.moduleId=#{moduleId}
	</select>
	
	
	

	<select id="findAllPaged" parameterType="java.lang.String"
		resultType="RolePriv">
		select * from RolePriv where privInfo like '%${privInfo}%'
	</select>

	<delete id="deleteByRoleIdAndNotModuleIds" parameterType="Map">
		delete from RolePriv where roleId=#{roleId} 
		<if test=" moduleIdsStr!='' ">
		   and moduleId not in ( ${moduleIdsStr} )
	   </if>
	</delete>

	<select id="findAllByRoleIdAndModuleIds" parameterType="Map" resultType="RolePriv" >
		select * from RolePriv where roleId=#{roleId} 
		<if test=" moduleIdsStr!='' ">
		   and moduleId in ( ${moduleIdsStr} )
	   </if>
	</select>

	<insert id="insert" parameterType="RolePriv" flushCache="true" >
		insert into RolePriv(roleId,moduleId) values(#{roleId}, #{moduleId} )
	</insert>

</mapper>