<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lj.mapper.user.UserRolePrivMapper">

    <select id="findAllByUserId" parameterType="Long" resultType="UserRolePriv" >
		select UserRole.*,RoleInfo.roleName,RolePriv.moduleId, ModuleInfo.moduleName
		from UserRole
		left join RoleInfo   on UserRole.roleId=RoleInfo.roleId
		left join RolePriv   on UserRole.roleId=RolePriv.roleId
		left join ModuleInfo on RolePriv.moduleId=ModuleInfo.moduleId
		where UserRole.userId = #{userId}
	</select>
	
</mapper>